:root {
  --primary-color: #f5fbe6;
  --secondary-color: #215e61;

  --accent-color: #233d4d;
  --secondary-accent-color: #fe7f2d;

  --font-family: Roboto, Oxygen, Ubuntu;
  --font-family-fallback: "Open Sans", "Helvetica Neue", sans-serif, system-ui;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem); /*option*/
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: var(--font-family), var(--font-family-fallback);
  background-color: var(--primary-color);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 950px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.page-title {
  font-size: 4rem;
  margin-bottom: 0;
}

.list-form {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0px 2px 8px 2px hsla(0, 0%, 0%, 0.4);
}

.input-field {
  border-radius: 5px;
}

.radio-list {
  display: flex;
  gap: 0.7rem;
}

.form-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
  color: var(--primary-color);
}

.form-item p {
  margin: 0;
}

.new-game-btn {
  margin-top: 0.9rem;
  background-color: var(--primary-color);
  grid-column: 1/3;
  justify-self: center;
  padding: 0.3rem 1rem;
  width: 45%;
  border-radius: 10px;
}

.new-game-btn:active {
  box-shadow: 7px 7px 8px 2px #00000073;
}

.grid {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 2px 8px 2px hsla(0, 0%, 0%, 0.4);
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.2rem;
  padding: 2rem;
}

.cell {
  border: 2px solid var(--secondary-color);
  width: 100%;
  aspect-ratio: 1/1;
  background-color: var(--primary-color);
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: auto;
  container-type: size;
  font-size: 10rem;
  cursor: pointer;
}

.cell:hover {
  background-color: var(--secondary-accent-color);
}

.cell[fill="full"] {
  opacity: 0.5;
  user-select: none;
}

.cell[fill="full"]:hover {
  background-color: var(--primary-color);
}

.cell[win-config="yes"] {
  opacity: 1;
  user-select: none;
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.cell[win-config="yes"]:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}
